services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=example
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - ./database:/var/lib/postgresql/data

  backend:
    build: ./example-backend
    restart: unless-stopped
    environment:
      - REQUEST_ORIGIN=http://localhost
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=example
      - POSTGRES_DATABASE=postgres
    depends_on:
      - redis
      - db

  frontend:
    build: ./example-frontend
    restart: unless-stopped
    environment:
      - REACT_APP_BACKEND_URL=http://localhost/api
      - HOST=0.0.0.0
      - PORT=5000
    depends_on:
      - backend

  proxy:
    image: nginx:1.25-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
