name: Build image and deploy to Render

on:
  push:
    branches:
      - main

jobs:
  build-push-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image used by Render
        uses: docker/build-push-action@v6
        with:
          context: 05-devops-with-docker-part3/sekcja2/zad1_16_docker
          file: 05-devops-with-docker-part3/sekcja2/zad1_16_docker/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/zad1_16_docker:latest

      - name: Trigger Render Deploy Hook
        run: |
          curl -fsS -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"
